
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background: #25d366;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  text-decoration: none;

  z-index: 9999;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}