<app-navbar></app-navbar>


<app-banner></app-banner>
<div class="container mt-5">

    <div class="text-center py-5">
        <h1 class="display-4 fw-bold">
            Bienvenue chez Bellora
        </h1>

        <p class="lead">
            Parfums, accessoires et élégance au féminin
        </p>

        <button class="btn btn-dark btn-lg">
            Découvrir la collection
        </button>
    </div>

</div>

<app-categories (categorySelected)="selectedCategoryId = $event"></app-categories>
<app-featured-products [categoryId]="selectedCategoryId"></app-featured-products>


<app-promo-banner></app-promo-banner>

<app-footer></app-footer>