.featured-section {
  background: #f8f9fa;
}

.product-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: .3s;
  box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product-content {
  padding: 20px;
}

.badge-sale {
  position: absolute;
  top: 15px;
  right: 15px;
  background: crimson;
  color: white;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 12px;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.new-price {
  font-weight: bold;
  color: #d4af37;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}