<app-navbar></app-navbar>


<section class="checkout-section py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="fw-bold">Finaliser votre commande</h1>
            <p class="text-muted">
                Renseignez vos informations de livraison
            </p>
        </div>
        <div class="row g-4">
            <!-- Formulaire -->
            <div class="col-lg-8">
                <div class="checkout-card">
                    <h4 class="mb-4">Informations client</h4>
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Nom complet </label>
                                <input formControlName="customer_name" type="text" class="form-control" placeholder="Votre nom">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label"> Téléphone</label>
                                <input formControlName="customer_phone" type="text" class="form-control"  placeholder="77 000 00 00">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Adresse de livraison  </label>
                            <textarea formControlName="customer_address" rows="4" class="form-control"  placeholder="Votre adresse"> </textarea>
                        </div>
                        <div class="mb-3"><label class="form-label">  Note de commande  </label>
                            <textarea formControlName="note" rows="3" class="form-control" placeholder="Informations complémentaires"> </textarea>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Résumé -->
            <div class="col-lg-4">
                <div class="summary-card">
                    <h4 class="mb-4"> Résumé </h4>
                    <div class="d-flex justify-content-between mb-3">
                        <span>Sous-total</span>
                        <strong> {{ total | number }} FCFA </strong>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span>Livraison</span>
                        <strong>Gratuit</strong>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between mb-4">
                        <span class="fw-bold">Total</span>
                        <span class="fw-bold fs-5 text-dark">{{ total | number }}FCFA</span>
                    </div>
                    <button class="btn btn-dark w-100 py-3" (click)="onSubmit()"> Confirmer la commande</button>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>